@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Chonburi|Oswald|Oxygen|Yrsa');

body {
		background-color: (15,17,200);
		margin: 0 auto;
      }


h1,p {
	color: black;
	 }

p 	{
	font-size: 1.2em;
	font-family: 'Yrsa', serif;
    }

#slogan
{
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-decoration: underline;
	text-align: center;
	font-size: 30px;
	font-style: italic;
	color: red; 
	padding: 0.3em 0em;
}

ul{
	font-size: 1.4em ;
	font-family: 'Yrsa', serif;
  }

h1
{
	text-align: center;
	font-family: 'Chonburi', cursive;
}

#contact
{
	font-size: 1.2em;
	font-style: italic;
}



header 
{
	background-color: #D3D3D3;
	border: 0.2em black solid;
	padding: 1em;
}

nav 
{
	background: #333;
}

nav a 
{
	display: block;
	float: left;
	padding: 0.4em 0.8em;
	color: #ffffff;
	text-decoration: none;
	border-right: 0.1em solid #fff;
}

nav a:hover 
{ 
  background-color: #338833; 
}


.wrapper 
{
	background-color: #778899;
	border: 1px black solid;
	padding: 1.2em;
	margin: 0 auto;
}

#two_column 
{
	 
 
	padding: 1.2em;
	background-image: url("../images/Retailhero.jpg");  
	background-size: cover;
}

#right 
{
	
    font-weight: bold;
	padding: 1.2em;
	float: right;
	width:30%;
}

#left 
{
	font-weight: bold; 
	padding: 1.2em;
	float: left;
	width:62%;
}

.clearfix:after 
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer 
{
	background-color: #D3D3D3;
	border: 1px black solid;
	padding: 2px 7px;
}

 
@media screen and (max-width: 1100px) {

body 
	{ 
	font-size:1em;
	}

#right  {
	float: left;
	width:62%;
     }
  }


